<?xml version='1.0' encoding='utf-8'?>
<widget id="com.celebra.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Celebra</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    
    <!-- Configurações de ícones para Android -->
  <platform name="android">
    <icon src="platforms/android/app/src/main/res/mipmap-mdpi/celebra_mdpi.png" density="mdpi"/>
    <icon src="platforms/android/app/src/main/res/mipmap-hdpi/celebra_hdpi.png" density="hdpi"/>
    <icon src="platforms/android/app/src/main/res/mipmap-xhdpi/celebra_xhdpi.png" density="xhdpi"/>
    <icon src="platforms/android/app/src/main/res/mipmap-xxhdpi/celebra_xxhdpi.png" density="xxhdpi"/>
    <icon src="platforms/android/app/src/main/res/mipmap-xxxhdpi/celebra_xxxhdpi.png" density="xxxhdpi"/>
</platform>


    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
