* {
    background-color: #5a5a5a; /* ou #3a3a3a */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

a {
    background-color: #af3260;
}

#imgLogo{
    width: 40px;
    height: 40px;
}

#menu-topo {
    background-color: #af3260;
    border-radius: 4px;
}

#navbar {
    width: 300%;
    background-color: #af3260;
    padding: 10px;
    text-align: center;
}

#containerCal {
    width: 85%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #af3260;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative; 
}

#calendar {
    width: 110%;
    height: 100%;
}

#eventModal {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #af3260;
    box-shadow: 0 0 15px rgba(1, 1, 1, 1.8);
    z-index: 1000;
    width: 80%; 
    max-width: 400px;
}

#criarEvento {
    display: flex;
    flex-direction: column;
}

#criarEvento label {
    margin-top: 10px;
    margin-bottom: 5px;
}

#criarEvento input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#modalButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#modalButtons button {
    padding: 5px 7px;
    background-color: #af3260;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    flex: 1; 
    margin: 0 5px; 
}

#modalButtons button:hover {
    background-color: #3a3a3a; /* Efeito hover para os botões */
}
