* {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body, h1, h2, h3, h4, h5, h6, p, a, span, div, label, input, button {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.offcanvas-body .nav-link, 
.offcanvas-body .dropdown-item, 
#modalButtons button {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.fc-daygrid-day-number, 
.fc-event-title, 
.fc-daygrid-event, 
.fc-day, 
.fc-daygrid-day, 
.fc-col-header-cell, 
.fc-col-header-cell-cushion {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: black; 
    background-color: #221329;
    font-family: 'Montserrat', sans-serif;
}


#container-fluid {
    width: auto;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

.navbar-toggler-icon {
    background-color: transparent; 
    color: white;
}

.span.navbar-toggler-icon {
    color: white;
}

button.navbar-toggler {
    border: 1px solid white;
}

#containerCal {
    width: 100%;
    height: 85vh;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative; 
}

#calendar {
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(1, 1, 1, 1.8);
    border-radius: 10px;
    color: #ccc;
    z-index: 1; 
    padding: 5px;

}

#eventModal {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #221329;
    box-shadow: 0 0 15px rgba(1, 1, 1, 1.8);
    z-index: 1000;
    width: 80%; 
    max-width: 400px;
}

#criarEvento {
    display: flex;
    flex-direction: column;
}

#criarEvento label {
    margin-top: 10px;
    margin-bottom: 5px;
}

#criarEvento input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#modalButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#modalButtons button {
    padding: 5px 7px;
    background-color: #221329;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    flex: 1; 
    margin: 0 5px; 
}

#modalButtons button:hover {
    background-color: #3a3a3a;
}

.navbar-toggler {
    margin-left: auto;
    border: 1px solid white;
    color: white;
    background-color: transparent;
}

.offcanvas {
    background-color: #221329;
    width: 75%;  
    overflow-x: hidden;
}

.offcanvas-header {
    position: relative; 
}

.btn-close {
    z-index: 1060; 
}

#choiceModal{
    display:none; 
    position:fixed; 
    top:50%; left:50%; 
    transform:translate(-50%, -50%); 
    background-color:white; 
    padding:20px; 
    border-radius:8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#choiceModal, #planModal {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #221329;
    box-shadow: 0 0 15px rgba(1, 1, 1, 1.8);
    z-index: 1000;
    background-color: white;
}

#choiceModal button, #planModal button {
    padding: 10px 15px;
    background-color: #221329;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

#planModal input, #planModal ul {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

#eventModal{
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color:white; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    
}

.modal-contet{
    border: 1px solid #221329;
}

#preparativosList {
    list-style-type: none; 
    padding: 0;
}

#preparativosList {
    list-style-type: none; 
    padding: 0;
}
#preparativosList {
    list-style-type: none; 
    padding: 0;
}

#preparativosList {
    list-style-type: none; 
    padding: 0;
    max-width: 100%; 
}

#preparativosList li {
    margin: 2px 0;
    display: flex; 
    align-items: center; 
}

#preparativosList li span {
    margin-left: 5px;
    overflow-wrap: break-word;
  
    hyphens: auto;
    flex: 1;
    white-space: normal;
    max-width: calc(100% - 25px);
}

input[type="checkbox"] {
    margin-top: 0;
}

#imgLogo{
    width: 40px;
    height: 40px;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #221329;
    color: #fff;
    padding: 0; 
}

.offcanvas-body {
    padding: 0; 
}

.navbar-nav {
    flex-direction: column;
    text-align: center;
}

.nav-item {
    padding: 5px 0;
}

@media (max-width: 576px) {
    #navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .navbar {
        padding: 0;
    }

    .navbar-toggler {
        border: 1px solid white;
    }

    .offcanvas-body {
        background-color: #fff;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        padding: 5px 0;
    }

    .offcanvas img {
        display: none;
    }
}